{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Andy World</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'andyBlogApp/css/style.css' %}"
    />
  </head>
    <body>
      <div id="particles-js"></div>
      <div id="wrapper">
        <div class="wall">
          <header class="header02-logo">
            <div class="place">
                <img src="{% static 'andyBlogApp/images/andylogo.png' %}" class="logoimg">
            </div>
            <nav class="header02-nav">
                <ul class="header02-list">
                  <li class="header02-item"><a class="fancy" href="#">
                    <span class="top-key"></span>
                    <span class="text">Articles</span>
                    <span class="bottom-key-1"></span>
                    <span class="bottom-key-2"></span>
                  </a></li>
                  <li class="header02-item"><a class="fancy" href="#">
                    <span class="top-key"></span>
                    <span class="text">About me</span>
                    <span class="bottom-key-1"></span>
                    <span class="bottom-key-2"></span>
                  </a></li>
                  <li class="header02-item"><a class="fancy" href="#">
                    <span class="top-key"></span>
                    <span class="text">Works</span>
                    <span class="bottom-key-1"></span>
                    <span class="bottom-key-2"></span>
                  </a></li>
                  <li class="header02-item"><a class="fancy" href="#">
                    <span class="top-key"></span>
                    <span class="text">Contact</span>
                    <span class="bottom-key-1"></span>
                    <span class="bottom-key-2"></span>
                  </a></li>

                </ul>
            </nav>
        </header>

          <div class="wall">
            <section class="section">
              <div class="contens">{% block content %} {% endblock %}</div>
            </section>
          </div>
        </div>
      <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
      <script src="{% static 'andyBlogApp/js/script.js' %}"></script>
    </body>
  </div>
</html>
