{% extends "blog/base.html" %} {% block content %} {% for post in posts%}

<div class="post block container">
  {% load static %}
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'andyBlogApp/css/style.css' %}"
  />
  <img src="{% static 'andyBlogApp/images/js.png' %}" class="img" />
  <div class="post">
    <h2 class="subtitle">{{post.title}}</h2>
    <p class="sentences">{{post.body}}</p>
    <small>Posted at {{post.posted_date}}</small>
    <p>{{post.intro}}</p>
    <a href="{% url 'post_detail' post.slug %}">read more</a>
  </div>
</div>
{% endfor %} {% endblock %}
