{% extends "blog/base.html" %} {% block content %} {% for post in posts%}

<div class="post">
  {% load static %}
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'andyBlogApp/css/style.css' %}"
  />
  <img src="{% static 'andyBlogApp/images/js.png' %}" class="img" />
  <div class="post_layout">
    <h2 class="subtitle">{{post.title}}</h2>
    <p>{{post.intro}}</p>
    <p class="sentences">{{post.body}}</p>
    <small>Posted at {{post.posted_date}}</small>
    <br />
    <div class="read">
      <button class="btn">
        <a class="readMore" href="{% url 'post_detail' post.slug %}"
          >read more</a
        >
      </button>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
